# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Large datasets
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep